/* modal.css */
.modal-overlay {
  position: fixed;
  top: 30vh;
  left: 0;
  width: 100%;
  height: 53%;
  background: rgba(
    0,
    0,
    0,
    0.6
  ); /* Slightly darker overlay for better contrast */
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  position: relative;
  background: #fff;
  padding: 10px;
  border-radius: 8px;
  max-width: 80vw;
  max-height: 80vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #333; /* Ensure the close button is visible */
}

.modal-image {
  padding: 10px;
  max-width: 100%;
  max-height: 100%;
  object-fit: fill;
}

.modal-controls {
  position: absolute;
  bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

.modal-controls button {
  background: rgba(255, 255, 255, 0.8);
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
  color: #333;
}

.modal-controls button:disabled {
  background: rgba(200, 200, 200, 0.5);
  cursor: not-allowed;
}
